.footer {
  width: 100%;
  height: 100px;
  background-color: #959cb9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: #ffffff;
  font-family: Avenir;
  font-size: 12px;
  text-align: center;
}
