@tailwind base;
/* Enable this to help identify where elements get painted on screen*/
/* * {
  border: 1px solid red;
} */
@tailwind components;

/* Write your own custom component styles here */
.btn-blue {
  @apply py-2 px-4 border border-transparent shadow-sm text-sm font-medium text-white bg-darkish-blue hover:bg-white hover:text-darkish-blue hover:border-darkish-blue focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
}

@tailwind utilities;

.image {
  width: unset !important;
  min-width: unset !important;
  max-width: unset !important;
  height: unset !important;
  max-height: unset !important;
  min-height: unset !important;
  margin: 0 !important;
}

/* This is to avoid CLS */
.image_container {
  position: absolute;
  overflow: hidden;
  max-height: 450px;
  max-width: 400px !important; /* Maximum value, the last size in the sizes prop */
  width: 50vw;
}